<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <a type="button" class="btn" routerLink="/signin">SingIn</a>
      <a type="button" class="btn" routerLink="/home">Home</a>
      <a type="button" class="btn" routerLink="/users">Users</a>
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
