<div class="main-container">
  <div [classList]="classList" [id]="container">
    <div class="form-container sign-up">
      <form>
        <h1>Create Account</h1>
        <div class="social-icons">
          <a href="#" class="icon">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="#" class="icon">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="#" class="icon">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="#" class="icon">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="FirstName" />
        <input type="password" placeholder="LastName" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Cofnirm Password" />
        <a class="BUTTON">Sign Up</a>
      </form>
    </div>
    <div class="form-container sign-in">
      <form>
        <h1>Sign In</h1>
        <div class="social-icons">
          <a href="#" class="icon">
            <i class="fa-brands fa-google"></i>
          </a>
          <a href="#" class="icon">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="#" class="icon">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="#" class="icon">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
        <span>or use your email password</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#">Forget Your Password?</a>
        <a class="BUTTON">Sign In</a>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <img
            style="width: 350px"
            src="https://portbakumall.az/resized/fit1600x900/center/pages/88/ispace-1.png"
            alt=""
          />
          <p>Enter your personal details to use all of site features</p>
          <a
            routerLink="/signup"
            class="BUTTON hidden"
            [id]="loginBtn"
            (click)="removeActive()"
          >
            Sign In
          </a>
        </div>
        <div class="toggle-panel toggle-right">
          <img
            style="width: 350px"
            src="https://portbakumall.az/resized/fit1600x900/center/pages/88/ispace-1.png"
            alt=""
          />
          <p>Register with your personal details to use all of site features</p>
          <a
            routerLink="/signup"
            class="BUTTON hidden"
            [id]="register"
            (click)="addActive()"
          >
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
